@use "../common/breakpoints" as *;
@use "../common/variables" as *;
@use "../common/fonts" as *;
@use "../common/common" as *;
@use "../common/mixins" as *;

.main-info-container {
    background: $main-alt-bg;

    .main-info {
        display: flex;
        gap: 80px;

        padding: {
            top: 80px;
            bottom: 120px;
        }

        &__image {
            width: 600px;
            height: 600px;
            object-fit: cover;
            border-radius: 48px;
            background-color: $secondary-alt-bg;
        }

        &__details {
            display: flex;
            flex-direction: column;

            .main-info__name {
                @include font-hero;
                padding-bottom: 20px;
            }

            .main-info__description {
                @include font-text;
                padding-bottom: 30px;
            }

            .main-info__add-to-cart {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background: $main-bg;
                width: 270px;
                height: 100px;
                border: 4px solid $secondary-bg;
                border-radius: 32px;
                transition: all 0.8s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 25px 0 $secondary-alt-bg;
                    cursor: pointer;
                }

                h4 {
                    @include font-h4;
                }
            }
        }
    }
}

.ingridients-container {
    background-color: $secondary-alt-bg;

    .ingridients {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 45px;

        padding: {
            top: 90px;
            bottom: 90px;
        }

        &__title {
            @include font-h2;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px 50px;

            .ingridients__list-item {
                @include font-h4;
                width: calc((100% - 100px) / 3);
                box-sizing: border-box;
                padding: 20px 10px;
                border: 4px dashed white;
                border-radius: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.recommendations-container {
    background: $main-alt-bg;

    .recommendations {
        display: flex;
        flex-direction: column;
        gap: 50px;

        padding: {
            top: 90px;
            bottom: 120px;
        }

        &__title {
            @include font-h2;
            text-align: center;
        }

        &__list {
            display: flex;
            justify-content: space-around;
            border: 8px solid white;
            border-left: 0;
            border-right: 0;
            padding: 30px 0;
        }
    }
}

@include respond($bp-xxl) {
    .main-info-container {
        .main-info {
            gap: 50px;

            padding: {
                top: 60px;
                bottom: 90px;
            }

            &__image {
                width: 500px;
                height: 500px;
            }
        }
    }
}

@include respond($bp-xl) {
    .main-info-container {
        .main-info {
            gap: 30px;

            &__image {
                width: 320px;
                height: 320px;
                border-radius: 32px;
            }

            &__details {
                .main-info__add-to-cart {
                    width: 220px;
                    height: 80px;
                    border-radius: 24px;
                }
            }
        }
    }

    .ingridients-container {
        .ingridients {
            &__list {
                gap: 30px;

                .ingridients__list-item {
                    width: calc((100% - 60px) / 2);
                }
            }
        }
    }
}

@include respond($bp-lg) {
    .main-info-container {
        .main-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 40px;

            &__image {
                width: 100%;
                height: 400px;
            }

            &__details {
                align-items: center;

                .main-info__name {
                    padding-bottom: 10px;
                }

                .main-info__description {
                    padding-bottom: 20px;
                }
            }
        }
    }

    .ingridients-container {
        .ingridients {
            gap: 30px;

            &__list {
                gap: 30px 0;

                .ingridients__list-item {
                    width: 100%;
                    padding: 20px 10px;
                }
            }
        }
    }

    .recommendations-container {
        .recommendations {
            gap: 30px;
            &__list {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 30px;

                li {
                    width: 45%;
                    min-width: 250px;

                    .menu-item {
                        width: 100%;
                        &__image {
                            height: 250px;
                        }
                    }
                }
            }
        }
    }
}

@include respond($bp-sm) {
    .main-info-container {
        .main-info {
            &__image {
                height: 300px;
            }

            &__details {
                .main-info__add-to-cart {
                    width: 170px;
                    height: 70px;
                }
            }
        }
    }

    .ingridients-container {
        .ingridients {
            padding: {
                top: 60px;
                bottom: 60px;
            }

            &__list {
                .ingridients__list-item {
                    padding: 10px;
                    border-radius: 16px;
                    text-align: center;
                }
            }
        }
    }

    .recommendations-container {
        .recommendations {
            gap: 20px;

            &__list {
                flex-direction: column;
                gap: 30px;
                li {
                    width: 100%;
                    .menu-item {
                        &__image {
                            width: 100%;
                            height: 220px;
                        }
                    }
                }
            }
        }
    }
}
