@use "../common/breakpoints" as *;
@use "../common/variables" as *;
@use "../common/fonts" as *;
@use "../common/common" as *;
@use "../common/mixins" as *;

.profile-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .profile-container {
        background: $main-bg;
        flex: 1;

        .profile-content {
            padding: {
                top: 40px;
                bottom: 90px;
            }

            .profile-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 40px;
                padding-top: 0;
                margin-bottom: 35px;
                border-bottom: 6px dashed white;

                &__details {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    color: white;
                    @include font-h4;
                }

                &__logout {
                    width: 140px;
                    padding: 10px 20px;
                    box-sizing: border-box;
                    color: white;
                    font-size: 20px;
                    font-weight: 600;
                    background-color: $main-alt-bg;
                    border: 4px solid $secondary-alt-bg;
                    border-radius: 16px;
                    transition: all 0.8s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
            }

            .order-history {
                padding: 0 90px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                &__empty {
                    @include font-h2;
                }

                &__title {
                    text-align: left;
                    @include font-h4;
                }

                &__list {
                    width: 100%;

                    .order-history__item {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        @include font-small-text;
                        padding: 10px 40px;

                        border: 4px solid white;
                        border: {
                            left: none;
                            right: none;
                        }

                        margin-bottom: 30px;

                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 10px 20px;
                        }
                    }
                }
            }
        }
    }
}

@include respond($bp-xl) {
    .profile-page {
        .profile-container {
            .profile-content {
                .order-history {
                    padding: 0 40px;
                }
            }
        }
    }
}

@include respond($bp-lg) {
    .profile-page {
        .profile-container {
            .profile-content {
                .profile-info {
                    flex-direction: column;
                    align-items: self-start;
                    gap: 15px;
                    padding: 20px 10px;
                    padding-top: 0;

                    &__details {
                        gap: 10px;
                    }

                    &__logout {
                        width: 120px;
                        padding: 10px;
                    }
                }

                .order-history {
                    padding: 0 20px;

                    &__list {
                        .order-history__item {
                            padding: 10px 20px;
                        }
                    }
                }
            }
        }
    }
}

@include respond($bp-md) {
    .profile-page {
        .profile-container {
            .profile-content {
                .profile-info {
                    flex-direction: column;
                    align-items: self-start;
                    padding: 20px 5px;
                    padding-top: 0;

                    &__details {
                        font-size: 20px;
                        flex-wrap: wrap;
                    }

                    &__image {
                        width: 40px;
                    }

                    &__logout {
                        width: 100px;
                        font-size: 16px;
                        padding: 8px;
                    }
                }
            }
        }
    }
}
