@use "../common/breakpoints" as *;
@use "../common/variables" as *;
@use "../common/fonts" as *;
@use "../common/common" as *;
@use "../common/mixins" as *;

.popup-container {
    &__background {
        position: fixed;
        z-index: 5;
        top: 95px;
        left: 0;
        background: $main-bg;
        height: 100vh;
        width: 100vw;

        .popup {
            .food-menu__list {
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;
                
                li{
                    display: flex;
                    width: 100%;
                }
            }
        }
    }
}

@include respond($bp-md) {
    .popup-container {
        &__background {
            top: 75px;
        }
    }
}
