@use "../common/breakpoints" as *;
@use "../common/variables" as *;
@use "../common/fonts" as *;
@use "../common/common" as *;
@use "../common/mixins" as *;

.header-popup {
    .navigation-menu-container {
        background: $main-bg;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;

        .menu {
            background-color: $main-alt-bg;
            border-radius: 60px 60px 0 0;
            position: fixed;
            bottom: 0;
            z-index: 999;
            display: flex;
            flex-direction: column;

            padding: {
                top: 30px;
                bottom: 50px;
            }

            &__icons {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;

                .cart-and-profile {
                    display: flex;
                    gap: 30px;
                }
            }

            &__list {
                & ul {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 25px;

                    li {
                        background-color: white;
                        height: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 32px;

                        a,
                        .accent {
                            color: black;
                            @include font-nav;
                        }

                        &:hover {
                            a {
                                transform: scale(1.1);
                            }
                        }
                    }

                    .accent {
                        @include accent-text;
                    }
                }
            }
        }
    }
}

@include respond($bp-sm) {
    .header-popup {
        .navigation-menu-container {
            .menu {
                &__icons {
                    margin-bottom: 25px;

                    .cart-and-profile {
                        gap: 20px;
                    }
                }

                &__list {
                    & ul {
                        gap: 15px;

                        li {
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}
