@use "variables" as *;

@mixin accent-text() {
    background: $accent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}