$main-bg: linear-gradient(to bottom left, #876A60 0%, #563A32 40%, #3E2723 80%);
$secondary-bg: #1F1712;
$main-alt-bg: #9C7E6A;
$secondary-alt-bg: #5C4D41;
$dark-bg: #140F0C;
$accent: linear-gradient(to bottom, #ADD19C 0%, #91B47A 40%, #6B8C5A 70%);
$link: #6B8C5A;
$link-hover: #91B47A;